.video-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.select_device_list {
  position: fixed;
  left: 0;
  top: 0;
  .select_device {
    width: 300px;
  }
}

.select_speaker_device {
}